<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Mount Everest</string>
	<string>Equator</string>
	<string>China</string>
	<string>The Nile, Africa</string>
	<string>Victoria Falls</string>
	<string>Sahara Desert</string>
	<string>Tributaries</string>
	<string>Magma</string>
	<string>Antarctica</string>
	<string>Vatican City</string>
	<string>Venus</string>
	<string>Leeward direction</string>
	<string>Anemometer</string>
	<string>Amazon</string>
	<string>China</string>
</array>
</plist>
