<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Alice in Wonderland</string>
	<string>Darwin</string>
	<string>New English Bible</string>
	<string>Daniel Defoe</string>
	<string>154</string>
	<string>Alex Haley</string>
	<string>William Golding</string>
	<string>Ben Jonson</string>
	<string>Gary Rhodes</string>
	<string>Stephen Hawking</string>
	<string>Agatha Christie</string>
	<string>Gianni Versace</string>
	<string>Jane Austen</string>
	<string>Phil Ochs</string>
	<string>F Scott Fitzgerald</string>
</array>
</plist>
