<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Tweedledum is from which Children’s book?</string>
	<string>Who is the author of The Origin Of Species?</string>
	<string>The abbreviated form of which book is NEB?</string>
	<string>Who invented the character, Robinson Crusoe?</string>
	<string> Number of sonnets written by William Shakespeare:</string>
	<string>Author of “Roots” that inspired a TV blockbuster:</string>
	<string>“Rites of Passage” is a novel written by?</string>
	<string>Who is the author of ‘The Alchemist’ (play)?</string>
	<string>“Keeping it Simple” is a cookery book. Who authored it?</string>
	<string>‘A Brief History of Time’ is written in 1988. Who is its author?</string>
	<string>Who is the author of “The Murder of Roger Ackroyd”?</string>
	<string>Who is the author of ‘Without Ties’?</string>
	<string>Who was the authoress of “Pride and Prejudice”?</string>
	<string>Who is the writer of “There but for Fortune”?</string>
	<string>Who ended his writing career with ‘The Last Tycoon’?</string>
</array>
</plist>
